<section>
  <h3 class="title">Recomendaciones</h3>

  @if (recommendedProducts().length > 0) {
    <div class="product-list">
      @for (product of recommendedProducts(); track product.id) {
        <a (click)="onProductClick($event, product)" routerLink="/orders/product-detail" class="product">
          <ion-icon name="star" class="product__badge" />
          <span class="product__name">{{ product.name }}</span>
          <span class="product__stock">{{ product.stock }} disponible</span>
          <span class="product__unit-value"
            ><ion-icon name="cash-outline" class="product__icon" /> {{ product.unit_value | currency }}</span
          >
        </a>
      }
    </div>
  } @else {
    <div class="empty-state">
      <p><i>No hay recomendaciones disponibles en este momento.</i></p>
    </div>
  }
</section>
