<section>
  <h3 class="title">{{ 'recommendations.title' | translate }}</h3>

  @if (recommendedProducts().length > 0) {
    <div class="product-list">
      @for (product of recommendedProducts(); track product.id) {
        <a (click)="onProductClick($event, product)" routerLink="/orders/product-detail" class="product">
          <ion-icon name="star" class="product__badge" />
          <span class="product__name">{{ product.name }}</span>
          <span class="product__stock">{{ product.stock }} {{ 'recommendations.available' | translate }}</span>
          <span class="product__unit-value"
            ><ion-icon name="cash-outline" class="product__icon" /> {{ product.unit_value | currency }}</span
          >
        </a>
      }
    </div>
  } @else {
    <div class="empty-state">
      <p>
        <i>{{ 'recommendations.emptyMessage' | translate }}</i>
      </p>
    </div>
  }
</section>
