<div class="scheduled-delivery-card">
  <div class="scheduled-delivery-card__header">
    <div class="scheduled-delivery-card__header-content">
      <div class="scheduled-delivery-card__order-id" [title]="order().id">{{ order().id }}</div>
      <div class="scheduled-delivery-card__amount">
        {{ 'orders.scheduledDeliveries.card.value' | translate }}:
        <span class="scheduled-delivery-card__amount-value">{{ totalSum() | currency}}</span>
      </div>
    </div>
    <span [ngClass]="['badge', `badge--status-${order().order_status}`]">
      {{ 'orders.scheduledDeliveries.card.status.' + order().order_status | translate }}
    </span>
  </div>
  <hr class="scheduled-delivery-card__divider" />
  <div class="scheduled-delivery-card__section scheduled-delivery-card__section--date">
    <div class="scheduled-delivery-card__row">
      <ion-icon name="calendar-clear-outline" class="scheduled-delivery-card__icon"></ion-icon>
      <span class="scheduled-delivery-card__date">{{ order().delivery_date | localDate: 'fullDate' }}</span>
    </div>
    <div class="scheduled-delivery-card__row">
      <ion-icon name="time-outline" class="scheduled-delivery-card__icon"></ion-icon>
      <span class="scheduled-delivery-card__time">{{ order().delivery_date | localDate: 'shortTime' }}</span>
    </div>
  </div>
  <div class="scheduled-delivery-card__section scheduled-delivery-card__section--vehicle">
    <div class="scheduled-delivery-card__row">
      <ion-icon name="bus" class="scheduled-delivery-card__icon"></ion-icon>
      <span class="scheduled-delivery-card__vehicle"> {{ order().delivery_vehicle }} </span>
    </div>
    <div class="scheduled-delivery-card__row">
      <ion-icon name="person" class="scheduled-delivery-card__icon"></ion-icon>
      <span class="scheduled-delivery-card__driver">
        {{ 'orders.scheduledDeliveries.card.driver' | translate }}: {{ order().driver_name }}
      </span>
    </div>
  </div>
  <hr class="scheduled-delivery-card__divider" />
  <div class="scheduled-delivery-card__section scheduled-delivery-card__section--products">
    <div class="scheduled-delivery-card__row">
      <ion-icon name="cart-outline" class="scheduled-delivery-card__icon"></ion-icon>
      <span class="scheduled-delivery-card__products-title">
        {{ 'orders.scheduledDeliveries.card.productsIncluded' | translate }}
      </span>
    </div>
    <div class="scheduled-delivery-card__products-list">
      @for (product of order().products; track product.id) {
      <div class="scheduled-delivery-card__product-item">
        <span>{{ product.name }}</span>
        <span class="scheduled-delivery-card__product-qty">
          {{product.amount}} {{ 'orders.scheduledDeliveries.card.'+ (product.amount === 1 ? 'unit' : 'units') |
          translate }}
        </span>
      </div>
      }
    </div>
  </div>
</div>
