services:
  init-dynamodb:
    build:
      context: .
      dockerfile: Dockerfile.init
    container_name: init-dynamodb
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - CLIENTS_TABLE=Clients
      - VENDORS_TABLE=Vendors
      - SALES_PLANS_TABLE=SalesPlans
      - ORDERS_TABLE=Orders
      - PROVIDERS_TABLE=Providers
      - PRODUCTS_TABLE=Products
      - PRODUCTS_MIRROR_TABLE=ProductsMirror
      - SALES_TABLE=Sales
      - WAREHOUSES_TABLE=Warehouses
      - VISITS_TABLE=Visits
    depends_on:
      - dynamodb-local
    networks:
      - net-medisupply
    restart: "no"  # Execute only once

  users: # TODO: Comentar en local y levantar micro independiente con sus variables de entorno .env
    build:
      context: ./user_microservice
      dockerfile: Dockerfile
    container_name: users
    hostname: users
    environment:
      - AWS_REGION=us-east-1
      - FLASK_ENV=development
      - APP_COGNITO_USER_POOL_ID=dummy-local-pool
      - GUNICORN_CMD_ARGS=--log-level info --reload
      - AWS_ACCESS_KEY_ID=fakeMyKeyId
      - AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey
    ports:
      - "3000:3000"
    volumes:
      - ./user_microservice:/app
    networks:
      - net-medisupply

  clients:
    build:
      context: ./client_microservice
      dockerfile: Dockerfile
    container_name: clients
    hostname: clients
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - FLASK_ENV=development
      - APP_COGNITO_USER_POOL_ID=dummy-local-pool
      - GUNICORN_CMD_ARGS=--log-level info --reload
      - USER_API_URL=http://192.168.1.83:3000 # TODO: Cambiar cuando el micro de users esté dockerizado
    ports:
      - "3001:3001"
    volumes:
      - ./client_microservice:/app
    depends_on:
      dynamodb-local:
          condition: service_started
      init-dynamodb:
          condition: service_completed_successfully
    networks:
      - net-medisupply

  vendors:
    build:
      context: ./vendor_microservice
      dockerfile: Dockerfile
    container_name: vendors
    hostname: vendors
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - FLASK_ENV=development
      - APP_COGNITO_USER_POOL_ID=dummy-local-pool
      - GUNICORN_CMD_ARGS=--log-level info --reload
      - USER_API_URL=http://192.168.1.83:3000 # TODO: Cambiar cuando el micro de users esté dockerizado
    ports:
      - "3002:3002"
    volumes:
      - ./vendor_microservice:/app
    depends_on:
      dynamodb-local:
        condition: service_started
      init-dynamodb:
        condition: service_completed_successfully
    networks:
      - net-medisupply

  orders:
    build:
      context: ./order_microservice
      dockerfile: Dockerfile
    container_name: orders
    hostname: orders
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - FLASK_ENV=development
      - APP_COGNITO_USER_POOL_ID=dummy-local-pool
      - GUNICORN_CMD_ARGS=--log-level info --reload
    ports:
      - "3006:3006"
    volumes:
      - ./order_microservice:/app
    depends_on:
      dynamodb-local:
        condition: service_started
      init-dynamodb:
        condition: service_completed_successfully
    networks:
      - net-medisupply

  providers:
    build:
      context: ./provider_microservice
      dockerfile: Dockerfile
    container_name: providers
    hostname: providers
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - FLASK_ENV=development
      - APP_COGNITO_USER_POOL_ID=dummy-local-pool
      - GUNICORN_CMD_ARGS=--log-level info --reload
    ports:
      - "3003:3003"
    volumes:
      - ./provider_microservice:/app
    depends_on:
      dynamodb-local:
        condition: service_started
      init-dynamodb:
        condition: service_completed_successfully
    networks:
      - net-medisupply

  products:
    build:
      context: ./product_microservice
      dockerfile: Dockerfile
    container_name: products
    hostname: products
    environment:
      - AWS_REGION=us-east-1
      - DYNAMODB_ENDPOINT=http://dynamodb-local:8000
      - FLASK_ENV=development
      - APP_COGNITO_USER_POOL_ID=dummy-local-pool
      - GUNICORN_CMD_ARGS=--log-level info --reload
    ports:
      - "3004:3004"
    volumes:
      - ./product_microservice:/app
    depends_on:
      dynamodb-local:
        condition: service_started
      init-dynamodb:
        condition: service_completed_successfully
    networks:
      - net-medisupply

  dynamodb-local:
    hostname: dynamodb-local
    command: '-jar DynamoDBLocal.jar -sharedDb -dbPath ./data'
    image: amazon/dynamodb-local:2.6.1
    container_name: dynamodb-local
    networks:
      - net-medisupply
    ports:
      - '8000:8000'
    volumes:
      - './data/dynamodb:/home/dynamodblocal/data'
    working_dir: /home/dynamodblocal

  dynamo-admin:
    image: aaronshaf/dynamodb-admin:4.6.1
    container_name: dynamodb-admin
    depends_on:
      - dynamodb-local
    networks:
      - net-medisupply
    ports:
      - '8001:8001'
    environment:
      - DYNAMO_ENDPOINT=http://dynamodb-local:8000
      - AWS_REGION=ap-east-1
    stop_grace_period: 5s

networks:
  net-medisupply:
    driver: bridge
