ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
}

ion-label {
  h2 {
    font-weight: 600;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    color: var(--ion-color-medium);
  }
}
