ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 1rem;
}

.error-message {
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  padding-left: 0.25rem;

  small {
    color: var(--ion-color-danger);
    font-size: 0.875rem;
  }
}

.confirm-button {
  margin-top: 1.5rem;
}
