<div class="layout-container">
  <aside class="sidebar">
    <app-inventory-filter (onSubmit)="searchInventory($event)" />
  </aside>

  <main class="main-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1 class="title">Resultado de inventario ({{ products().length }})</h1>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text color="medium">
            <span class="subtitle"> Información actualizada en tiempo real </span>
          </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        @if (hasProducts()) {
        <div class="items">
          @for (product of products(); track $index) {
          <app-product-inventary-item [product]="product" />
          }
        </div>
        } @else {
        <div class="no-results">
          <ion-icon name="information-circle"></ion-icon>
          <h3>Sin resultados</h3>
          <p>Vuelve a intentar con otros filtros.</p>
        </div>
        }
      </ion-card-content>
    </ion-card>
  </main>
</div>
