.items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

ion-card-subtitle {
  margin: 0;
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.subtitle {
  font-weight: 400;
  font-size: 0.75rem;
}
