<section>
  <header>
    <div>
      <ion-text color="dark">
        <h1>{{product().name}}</h1>
      </ion-text>
      <div class="batch">
        <ion-text color="medium">
          <p>{{ 'productInventory.item.batch' | translate }} {{product().batch}}</p>
        </ion-text>
        <span [ngClass]="['badge', `badge--status-${product().status}`]">
          {{ 'productInventory.item.status.' + product().status | translate }}
        </span>
      </div>
    </div>
    <div class="stock">
      <p class="stock__quantity">{{product().stock}}</p>
      <ion-text color="medium">
        <p class="stock__label">{{ 'productInventory.item.units' | translate }}</p>
      </ion-text>
    </div>
  </header>

  @if (expiringSoon()) {
  <div class="alert alert--warning">
    <div>
      <ion-icon name="alert-circle"></ion-icon>
      <p>{{ 'productInventory.item.alert.expiringSoon' | translate }}</p>
    </div>
    <p>{{ 'productInventory.item.alert.message' | translate: { days: remainingDays() } }}</p>
  </div>
  }

  <div class="details">
    <ion-text color="medium" class="details__location">
      <ion-icon name="location"></ion-icon>
      <span> {{ 'productInventory.item.location' | translate }} </span>
    </ion-text>
    <p class="details__name">{{ product().warehouse_name }}</p>
    <p class="details__address">{{ product().warehouse_address }}</p>
    <p class="details__city">{{ product().warehouse_city }}, {{product().warehouse_country}}</p>
  </div>

  <div class="details">
    <ion-text color="medium" class="details__location">
      <ion-icon name="calendar-number"></ion-icon>
      <span> {{ 'productInventory.item.expiration' | translate }} </span>
    </ion-text>
    <p class="details__name">{{ product().expiration_date }}</p>
    <p class="details__city">{{ 'productInventory.item.daysRemaining' | translate: { days: remainingDays() } }}</p>
  </div>
</section>
