section {
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  border: 1px solid #808289;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1rem;
  color: var(--ion-color-dark);
}

.batch {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
  align-items: baseline;
}

.badge {
  font-size: 0.8125rem;
  line-height: 1;
  min-height: 1.25rem;
  line-height: 1;
  padding: 0 0.4375rem;
  border-radius: 0.25rem;
  color: var(--ion-color-medium-contrast);
  font-weight: 500;
  display: inline-flex;
  align-items: center;

  &--status-Disponible {
    background: var(--ion-color-success);
  }

  &--status-Agotado {
    background: var(--ion-color-danger);
  }

  &--status-Pendiente {
    background: var(--ion-color-primary);
  }

  &--status-Vencido {
    background: var(--ion-color-dark);
  }
}

.stock {
  &__quantity {
    font-size: 1rem;
    color: var(--ion-color-dark);
    margin: 0;
    font-weight: 600;
  }

  &__label {
    font-size: 1rem;
    margin: 0;
  }
}

.details {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: #F5F6F9;
  padding: 0.75rem 0.5rem;
  color: var(--ion-color-dark);

  &__location {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: wrap;
    font-size: 1rem;

    ion-icon {
      font-size: 1.5rem;
    }
  }

  &__name {
    font-weight: 600;
    color: var(--ion-color-dark);
  }

  &__city {
    margin: 0;
  }
}

.alert {
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: 1px solid transparent;

  &--warning {
    background: rgba(#FFC409, 0.12);
    border-color: #E0AC08;
    color: #CB9A00;

    ion-icon {
      font-size: 1.5rem;
      color: #FFC409;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    p {
      margin: 0;
    }
  }
}
