<ion-header>
  <ion-toolbar>
    <ion-title>Agregar institución</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="onSubmit($event)">
    <ion-list>
      <ion-radio-group [value]="selectedInstitution()" [compareWith]="compareWith" (ionChange)="onClientChange($event)">
        @for (institution of availableInstitutions(); track institution.client_id) {
          <ion-item>
            <ion-radio [value]="institution">{{ institution.name }}</ion-radio>
          </ion-item>
        }
      </ion-radio-group>
    </ion-list>

    <ion-grid class="button-group">
      <ion-row>
        <ion-col size="6">
          <ion-button onkeypress="" expand="block" fill="outline" color="primary" type="button" (click)="onCancel()">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="primary" type="submit" [disabled]="!selectedInstitution()">
            Agregar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
