<ion-content class="ion-padding">
  <ion-grid class="full-height">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-md="8" size-lg="6" size-xl="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Registrar vendedor</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
              <ion-item [class.ion-invalid]="nameControl?.invalid && nameControl?.touched">
                <ion-label position="stacked">Nombre del vendedor</ion-label>
                <ion-input
                  type="text"
                  formControlName="name"
                  placeholder="Ingrese el nombre del vendedor"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              @if (nameControl?.invalid && nameControl?.touched) {
                <div class="error-message">
                  @if (nameControl?.errors?.['required']) {
                    <small>El nombre es requerido</small>
                  }
                  @if (nameControl?.errors?.['minlength']) {
                    <small>El nombre debe tener al menos 3 caracteres</small>
                  }
                </div>
              }

              <ion-item [class.ion-invalid]="emailControl?.invalid && emailControl?.touched">
                <ion-label position="stacked">Correo corporativo</ion-label>
                <ion-input
                  type="email"
                  formControlName="email"
                  placeholder="vendedor@empresa.com"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              @if (emailControl?.invalid && emailControl?.touched) {
                <div class="error-message">
                  @if (emailControl?.errors?.['required']) {
                    <small>El correo corporativo es requerido</small>
                  }
                  @if (emailControl?.errors?.['email']) {
                    <small>Ingrese un correo válido</small>
                  }
                </div>
              }

              <ion-grid class="button-group">
                <ion-row>
                  <ion-col size="6">
                    <ion-button onkeypress
                      expand="block"
                      fill="outline"
                      color="primary"
                      type="button"
                      (click)="onCancel()"
                    >
                      Cancelar
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button
                      expand="block"
                      color="primary"
                      type="submit"
                      [disabled]="sellerForm.invalid"
                    >
                      Registrar vendedor
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
