ion-searchbar {
  --border-radius: 0.75rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

.items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1.5rem;
}

.empty-state-card {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  &__icon {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__title {
    text-align: center;
    margin: 0;
  }

  &__content {
    margin: 0;
    text-align: center;
  }
}
