<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      @if (showBackButton) {
        <ion-buttons slot="start">
          <ion-button onkeypress (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      }
      <ion-title>{{ pageTitle }}</ion-title>
      <ion-buttons slot="end">
        <ion-button onkeypress="" (click)="onLogout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>
</ion-app>
