<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/customers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'customers.register.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="institutionalClientForm" (ngSubmit)="submit()" class="form">
        <ion-input
          [label]="'customers.register.form.taxId.label' | translate"
          labelPlacement="stacked"
          type="text"
          formControlName="taxId"
          [placeholder]="'customers.register.form.taxId.placeholder' | translate"
          maxlength="20"
          [errorText]="'customers.register.form.taxId.required' | translate"
        ></ion-input>

        <ion-input
          [label]="'customers.register.form.businessName.label' | translate"
          labelPlacement="stacked"
          type="text"
          formControlName="companyName"
          [placeholder]="'customers.register.form.businessName.placeholder' | translate"
          maxlength="100"
          [errorText]="'customers.register.form.businessName.required' | translate"
        ></ion-input>

        <ion-select
          [label]="'customers.register.form.country.label' | translate"
          labelPlacement="stacked"
          formControlName="country"
          [placeholder]="'customers.register.form.country.placeholder' | translate"
          interface="action-sheet"
          [cancelText]="'common.cancel' | translate"
        >
          @for (country of countries; track country.code) {
            <ion-select-option [value]="country.code">{{ country.name }}</ion-select-option>
          }
        </ion-select>

        <ion-select
          [label]="'customers.register.form.careLevel.label' | translate"
          labelPlacement="stacked"
          formControlName="careLevel"
          [placeholder]="'customers.register.form.careLevel.placeholder' | translate"
          interface="action-sheet"
          [cancelText]="'common.cancel' | translate"
        >
          @for (level of careLevels; track level.value) {
            <ion-select-option [value]="level.value">Nivel {{ level.value }}</ion-select-option>
          }
        </ion-select>

        <ion-select
          [label]="'customers.register.form.specialty.label' | translate"
          labelPlacement="stacked"
          formControlName="specialty"
          [placeholder]="'customers.register.form.specialty.placeholder' | translate"
          interface="action-sheet"
          [cancelText]="'common.cancel' | translate"
        >
          @for (specialty of specialties; track specialty) {
            <ion-select-option [value]="specialty">{{ specialty }}</ion-select-option>
          }
        </ion-select>

        <ion-textarea
          [label]="'customers.register.form.location.label' | translate"
          labelPlacement="stacked"
          formControlName="location"
          [placeholder]="'customers.register.form.location.placeholder' | translate"
          rows="3"
          maxlength="200"
          counter="true"
        ></ion-textarea>

        <section class="button-container">
          <ion-button expand="block" fill="outline" color="primary" type="button" (click)="cancelRegister()" onkeypress>
            {{ 'customers.register.buttons.cancel' | translate }}
          </ion-button>
          <ion-button expand="block" color="primary" type="submit" [disabled]="!institutionalClientForm.valid">
            {{ 'customers.register.buttons.save' | translate }}
          </ion-button>
        </section>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
