.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 24px;
  width: 100%;
  ion-button {
    width: 100%;
  }
}

