.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  ion-icon {
    font-size: 1.5rem;
  }

  h2 {
    font-weight: 400;
    color: var(--ion-color-dark);
  }
}

ion-list {
  background: transparent;
  padding: 0;
}

ion-item {
  --background: transparent;
}

.actions {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}
