.date-input {
  width: 100%;
  background-color: var(--ion-color-primary-contrast);
  position: relative;
  border-bottom: 1px solid var(--ion-color-medium-shade);

  &__label {
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;

    margin: 0;
    display: block;
    width: 100%;
    font-size: 0.75rem;
    color: var(--ion-color-medium);
  }

  &__picker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ion-icon {
    position: absolute;
    right: 0.75rem;
    bottom: 1rem;
    font-size: 1.5rem;
    color: var(--ion-color-medium);
  }

  &__button {
    width: 100%;

    &::part(native) {
      margin: 0;
      width: 100%;
      border-radius: 0;
      background: transparent;
      text-align: left;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
