<ion-content [fullscreen]="true">
  <div class="page-container">
    <ion-card class="upload-card">
      <ion-card-header>
        <ion-card-title>{{ 'productBulk.title' | translate}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="upload-area" (click)="onUploadClick()" onkeypress>
          <input type="file" id="fileInput" accept=".csv" (change)="onFileSelected($event)" style="display: none" />

          <div class="upload-content">
            <ion-icon name="cloud-upload-outline" class="upload-icon"></ion-icon>
            <p class="upload-text">{{ fileName || ('productBulk.uploadText' | translate) }}</p>
            <p class="upload-hint">{{ 'productBulk.allowedFormats' | translate }}</p>
          </div>
        </div>

        <ion-button
          onkeypress
          expand="block"
          color="primary"
          class="process-button"
          [disabled]="!selectedFile"
          (click)="onProcessFile()"
        >
          {{ 'productBulk.submit' | translate }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
