<ion-card>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            formControlName="email"
            size=""
            [label]="'auth.email.label' | translate"
            type="email"
            id="email"
            name="email"
            [placeholder]="'auth.email.placeholder' | translate"
            labelPlacement="stacked"
            [errorText]="
              form.controls.email.errors?.['required']
                ? ('auth.email.required' | translate)
                : form.controls.email.errors?.['email']
                  ? ('auth.email.invalid' | translate)
                  : ''
            "
          />
        </ion-item>

        <ion-item>
          <ion-input
            formControlName="password"
            [label]="'auth.password.label' | translate"
            type="password"
            id="password"
            name="password"
            [placeholder]="'auth.password.placeholder' | translate"
            labelPlacement="stacked"
            [errorText]="
              form.controls.password.errors?.['required']
                ? ('auth.password.required' | translate)
                : form.controls.password.errors?.['minlength']
                  ? ('auth.password.minLength' | translate)
                  : ''
            "
          >
            <ion-input-password-toggle slot="end" />
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="full" class="submit-button">{{ 'auth.login.button' | translate }}</ion-button>
    </form>
  </ion-card-content>
</ion-card>
